html,body
{
  width:auto;
  height:auto;
  margin:0;
  padding:0;
}

.footer-basic-centered{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: center;
	font: normal 18px sans-serif;

	padding: 45px;
	margin-top: 80px;
}

.footer-basic-centered .footer-company-motto{
	color:  #8d9093;
	font-size: 24px;
	margin: 0;
}

.footer-basic-centered .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	margin: 0;
}

.footer-basic-centered .footer-links{
	list-style: none;
	font-weight: bold;
	color:  #ffffff;
	padding: 35px 0 23px;
	margin: 0;
}

.footer-basic-centered .footer-links a{
	display:inline-block;
	text-decoration: none;
	color: inherit;
}

@media (max-width: 600px) {


	.footer-basic-centered{
		padding: 35px;
	}

	.footer-basic-centered .footer-company-motto{
		font-size: 18px;
	}

	.footer-basic-centered .footer-company-name{
		font-size: 12px;
	}

	.footer-basic-centered .footer-links{
		font-size: 14px;
		padding: 25px 0 20px;
	}

	.footer-basic-centered .footer-links a{
		line-height: 1.8;
	}
}


#background {
  left: auto;
  top: auto;
  position: relative;
  margin-left: 22px;
  margin-right: auto;
  width: auto;
  height: 1444px;
  overflow: hidden;
  z-index: 0;
}

#cssmenu {
  padding: 12px;
  margin: auto;
  border: 0;
}

#cssmenu ul,#cssmenu li {
  list-style: none;
  margin: 0;
  padding: 0;
}

#cssmenu ul {
  position: relative;
  z-index: 597;
}

#cssmenu ul li {
  float: left;
  min-height: 1px;
  vertical-align: middle;
}

#cssmenu ul li.hover,#cssmenu ul li:hover {
  position: relative;
  z-index: 599;
  cursor: default;
}

#cssmenu ul ul {
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 598;
  width: 100%;
}

#cssmenu ul ul li {
  float: none;
}

#cssmenu ul ul ul {
  top: 0;
  left: auto;
  right: -99.5%;
}

#cssmenu ul li:hover > ul {
  visibility: visible;
}

#cssmenu ul ul {
  bottom: 0;
  left: 0;
}

#cssmenu ul ul {
  margin-top: 0;
}

#cssmenu ul ul li {
  font-weight: 400;
}

#cssmenu a {
  display: block;
  line-height: 1em;
  text-decoration: none;
}

#cssmenu {
  background: #333;
  border-bottom: 4px solid #1b9bff;
  font-family: 'Oxygen Mono',Tahoma,Arial,sans-serif;
  font-size: 14px;
}

#cssmenu > ul {
  *display: inline-block;
}

#cssmenu:after,#cssmenu ul:after {
  content: '';
  display: block;
  clear: both;
}

#cssmenu a {
  background: #333;
  color: #CBCBCB;
  padding: 0 77px;
}

#cssmenu ul {
  text-transform: uppercase;
}

#cssmenu ul ul {
  border-top: 4px solid #1b9bff;
  text-transform: none;
  min-width: 190px;
}

#cssmenu ul ul a {
  background: #1b9bff;
  color: #FFF;
  border: 1px solid #0082e7;
  border-top: 0 none;
  line-height: 150%;
  padding:16px 20px;
}

#cssmenu ul ul ul {
  border-top: 0 none;
}

#cssmenu ul ul li {
  position: relative;
}

#cssmenu > ul > li > a {
  line-height: 33px;
}

#cssmenu ul ul li:first-child > a {
  border-top: 1px solid #0082e7;
}

#cssmenu ul ul li:hover > a {
  background: #35a6ff;
}

#cssmenu ul ul li:last-child > a {
  border-radius: 0 0 3px 3px;
  box-shadow: 0 1px 0 #1b9bff;
}

#cssmenu ul ul li:last-child:hover > a {
  border-radius: 0 0 0 3px;
}

#cssmenu ul ul li.has-sub > a:after {
  content: '+';
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -8px;
}

#cssmenu ul li:hover > a,#cssmenu ul li.active > a {
  background: #1b9bff;
  color: #FFF;
}

#cssmenu ul li.has-sub > a:after {
  content: '+';
  margin-left: 5px;
}

#cssmenu ul li.last ul {
  left: auto;
  right: 0;
}

#cssmenu ul li.last ul ul {
  left: auto;
  right: 99.5%;
}

body
{
  position:relative;
  font-family:'Roboto Condensed',Helvetica,Arial,sans-serif;
  font-weight:300;
  background-color:#FFF;
  box-sizing:border-box;
  min-height:100%;
}

body.open
{
  overflow:hidden;
}

.app-bar
{
  display:block;
  width:100%;
  position:fixed;
  top:0;
  left:0;
  background-color:#4285f4;
  overflow:hidden;
  z-index:1;
}

.app-bar-container
{
  display:flex;
  width:100%;
  height:60px;
  position:relative;
  -webkit-flex-direction:row;
  -ms-flex-direction:row;
  flex-direction:row;
  margin:0 auto;
}

.app-bar.open,.app-bar.open~main
{
  -webkit-transform:translate(250px,0);
  transform:translate(250px,0);
}

.app-bar .logo
{
  -webkit-flex:1;
  -ms-flex:1;
  flex:1;
  font-size:2em;
  color:#fefefe;
  float:none;
  max-width:none;
  font-weight:300;
  line-height:60px;
  margin:0 16px;
  padding:0;
}

.app-bar .logo a
{
  text-decoration:none;
  color:inherit;
  font-weight:400;
}

.app-bar-actions
{
  display:flex;
  -webkit-flex-direction:row;
  -ms-flex-direction:row;
  flex-direction:row;
  z-index:2;
}

.app-bar button
{
  width:60px;
  height:60px;
  background-image:none;
  background-color:transparent;
  border:none;
  -webkit-transition:background-color .2s ease-out;
  transition:background-color .2s ease-out;
  -webkit-tap-highlight-color:transparent;
  padding:0;
}

.app-bar button img
{
  width:60px;
  height:60px;
}

.app-bar button:hover
{
  background-color:rgba(255,255,255,0.1);
}

.app-bar button:focus
{
  background-color:rgba(255,255,255,0.2);
  outline:0;
}

button.menu img
{
  height:24px;
  width:24px;
}

.promote-layer
{
  -webkit-backface-visibility:hidden;
  backface-visibility:hidden;
}

.base,p,ul,ol
{
  font-size:19px;
}

.navdrawer-container
{
  z-index:1;
  position:fixed;
  top:0;
  bottom:0;
  width:250px;
  height:100%;
  background-color:#3367D6;
  color:#fefefe;
  -webkit-transform:translate(-250px,0);
  transform:translate(-250px,0);
  overflow-y:auto;
}

.navdrawer-container.open
{
  -webkit-transform:translate(0,0);
  transform:translate(0,0);
}

.app-bar,.navdrawer-container,main
{
  -webkit-transition:0 .3s ease-out;
  transition:transform .3s ease-out;
}

.navdrawer-container h4,.navdrawer-container ul li a
{
  height:auto;
  line-height:1.4;
  padding:17px 20px;
}

.navdrawer-container h4
{
  background-color:#FFF;
  color:#3367D6;
}

.navdrawer-container ul
{
  list-style-type:none;
  margin:0;
  padding:0;
}

.navdrawer-container ul li a
{
  display:block;
  text-decoration:none;
  color:#FFF;
  -webkit-transition:background-color .2s ease-out;
  transition:background-color .2s ease-out;
  white-space:nowrap;
}

.navdrawer-container ul li
{
  border-bottom-style:solid;
  border-color:#FFF;
  border-width:1px;
  padding:0;
}

.navdrawer-container ul li::before
{
  content:none;
}

.navdrawer-container ul li a:hover
{
  background-color:rgba(255,255,255,0.2);
}

.navdrawer-container ul li a:focus
{
  background-color:rgba(255,255,255,0.3);
  outline:0;
}

main
{
  min-height:100%;
  margin:0 auto;
  padding:60px 16px 16px;
}

@font-face
{
  font-family:'Roboto Condensed';
  font-style:italic;
  font-weight:700;
  src:local('Roboto Condensed Bold Italic'),local(RobotoCondensed-BoldItalic),url(/public/fonts/RobotoCondensed-BoldItalic.eot) format(embedded-opentype),url(/public/fonts/RobotoCondensed-BoldItalic.woff) format(woff);
}

.app-bar button:active,.navdrawer-container ul li a:active
{
  background-color:rgba(255,255,255,0.4);
}

@media all and min-width 990px {
  .app-bar
  {
    position:relative;
  }
  
  .app-bar.open,.app-bar.open~main
  {
    -webkit-transform:translate(0px,0);
    transform:translate(0px,0);
  }
  
  .app-bar-container
  {
    display:block;
    height:130px;
    max-width:864px;
    box-sizing:border-box;
    background-color:#4285f4;
    padding:0 16px;
  }
  
  .app-bar .logo
  {
    float:left;
    line-height:130px;
    font-size:46px;
    margin:0;
    padding:0;
  }
  
  .app-bar-actions
  {
    float:right;
  }
  
  .app-bar::after
  {
    content:' ';
    display:block;
    height:0;
    overflow:hidden;
    clear:both;
  }
  
  nav
  {
    display:block;
    margin-top:130px;
  }
  
  .navdrawer-container
  {
    width:100%;
    height:auto;
    -webkit-transform:translate(0,0);
    transform:translate(0,0);
    -webkit-transition:none;
    transition:none;
    overflow-y:auto;
    position:relative;
    margin-top:0;
  }
  
  .navdrawer-container ul
  {
    display:flex;
    max-width:864px;
    -webkit-flex-direction:row;
    -ms-flex-direction:row;
    flex-direction:row;
    margin:0 auto;
  }
  
  .navdrawer-container ul li
  {
    border:none;
  }
  
  main
  {
    max-width:864px;
    padding-top:0;
    min-height:initial;
  }
  
  body
  {
    overflow-y:scroll;
  }
  
  button.menu,.navdrawer-container h4
  {
    display:none;
  }
}

.footer-basic-centered{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: center;
	font: normal 18px sans-serif;

	padding: 45px;
	margin-top: 80px;
}

.footer-basic-centered .footer-company-motto{
	color:  #8d9093;
	font-size: 24px;
	margin: 0;
}

.footer-basic-centered .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	margin: 0;
}

.footer-basic-centered .footer-links{
	list-style: none;
	font-weight: bold;
	color:  #ffffff;
	padding: 35px 0 23px;
	margin: 0;
}

.footer-basic-centered .footer-links a{
	display:inline-block;
	text-decoration: none;
	color: inherit;
}

@media (max-width: 600px) {


	.footer-basic-centered{
		padding: 35px;
	}

	.footer-basic-centered .footer-company-motto{
		font-size: 18px;
	}

	.footer-basic-centered .footer-company-name{
		font-size: 12px;
	}

	.footer-basic-centered .footer-links{
		font-size: 14px;
		padding: 25px 0 20px;
	}

	.footer-basic-centered .footer-links a{
		line-height: 1.8;
	}
}